# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\A0721I2-NguyenThiBichPhuong\Module4\ss1_spring_mvc\baitap\tu_dien\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
