# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\A0721I2-NguyenThiBichPhuong\Module3\ss10_jsp_jstl\baitap\calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
