<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home.html">
    <meta charset="UTF-8">
    <title>Create RentType</title>
</head>
<body>
<h1>Create RentType</h1>
<p>
    <a href="/rentType">RentType list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/rentType/delete-rentType}" th:object="${rentType}" method="post">
    <input th:type="text" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Cost:</td>
            <td><input type="text" th:field="*{cost}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete rentType"></td>
        </tr>
    </table>
</form>
</body>
</html>