# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\A0721I2-NguyenThiBichPhuong\Module3\ss9_tong_quan_web\thuchanh\java_web_currency_converter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
