<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home.html">
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customerType</h1>
<p>
    <a href="/customerType">CustomerType list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customerType/save}" th:object="${customerType}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="hidden" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customerType"></td>
        </tr>
    </table>
</form>
</body>
</html>