<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="logo" style="width: 100%">
    <a th:href="@{/}"><img src="/img/FURAMA.png"></a>
    <div class="header-panel">
        <h1>Welcome to Furama resort</h1>
    </div>
</div>
<div style="margin-left: 20px">
    <h2>Create new employee</h2>
    <a th:href="@{/user/employee/}" class="btn btn-primary">Back to employee list</a>
</div>
<div class="container" style="margin-top: 10px; font-size: 20px">
    <form id="form" th:object="${employee}" method="post" th:action="@{/admin/employee/save}">
        <input th:field="*{id}" type="hidden">
        <div class="form form-control" >
            <label>Employee name: </label>
            <input th:field="*{name}" type="text">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
        </div>
        <div class="form form-control" >
            <label>Employee birth day: </label>
            <input th:field="*{birthDay}" type="date">
        </div>
        <div class="form form-control" >
            <label>Employee id card: </label>
            <input th:field="*{idCard}" type="text">
            <p th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}" class="text-danger"></p>
        </div>
        <div class="form form-control" >
            <label>Employee salary: </label>
            <input th:field="*{salary}" type="text">
            <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="text-danger"></p>
        </div>
        <div class="form form-control" >
            <label>Employee phone number: </label>
            <input th:field="*{phoneNumber}" type="text">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></p>
        </div>
        <div class="form form-control" >
            <label>Employee email: </label>
            <input th:field="*{email}" type="text">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
        </div>
        <div class="form form-control" >
            <label>Employee address: </label>
            <input th:field="*{address}" type="text">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></p>
        </div>
        <div class="form form-control" >
            <label>Employee position</label>
            <select th:field="*{position}">
                <option th:each="p : ${position}" th:text="${p.name}" th:value="${p.id}"></option>
            </select>
        </div>
        <div class="form form-control" >
            <label>Employee education degree</label>
            <select th:field="*{educationDegree}">
                <option th:each="e : ${educationDegree}" th:text="${e.name}" th:value="${e.id}"></option>
            </select>
        </div>
        <div class="form form-control" >
            <label>Employee position</label>
            <select th:field="*{division}">
                <option th:each="d : ${division}" th:text="${d.name}" th:value="${d.id}"></option>
            </select>
        </div>
        <input type="submit" value="Create employee" class="btn btn-success">
    </form>
</div>
<footer th:replace="/home :: footer"></footer>
</body>
</html>