# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\A0721I2-NguyenThiBichPhuong\Module4\ss6_jpa\thuchanh\qlkhachhang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
