<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1>Delete Product</h1>
<form th:action="@{/delete}" method="post" th:object="${product}">
<table border="1">
    <tr>
        <td>ID</td>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="*{price}"></td>
    </tr>
    <tr>
        <td>Category</td>
        <td th:text="${product.category}"></td>
    </tr>
    <td>
        <input type="submit" value="Register" />
    </td>
</table>
<a th:href="@{/list}">Back to list</a>
</form>
</body>
</html>