<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<h1>List Blog</h1>
<form th:action="@{/list}" method="get">
    <p>
        <a th:href="@{/create}">Create Blog</a>
    </p>
    <input type="text" name="Blog" />
    <input type="submit" value="Search" />

</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Blog Name</th>
        <th>Category</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="b, l: ${blogs}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.category}"></td>
        <td th:text="${b.date}"></td>
        <td><a th:href="@{/update/{id}__${b.id}__ }">Update</a></td>
        <td><a th:href="@{/delete/{id}__${b.id}__ }">Delete</a></td>
    </tr>
</table>
</body>
</html>